---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
SortIncludes: CaseSensitive
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: Yes
IndentAccessModifiers: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
